.cartNot{
 background-color: white;
 margin: auto;
 padding: 15px;
 border-radius:8px ;


   
    
}

.cartNot .Not{
    background-color: grey;
    width: 500px;
    border-radius:8px ;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 100px 500px;
    text-align: center;
    transition: all 0.25s;
    display: inline-block;
    justify-content: space-evenly;
    
    
}



.Not .textoCompra{
    font-size: large;
    
}

.Not .textoTotall{
    font-size: x-large;
    
}




 