body {
    margin: 0;
}

nav {
    width: 100%;
    float: left;
}

.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: wheat;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Option {
   
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    background: grey;
    border-radius: 8px;
    flex: none;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .Option:hover {
    background-color: grey;
    padding: 5px;
}

  .ActiveOption {
        
        text-decoration: none;
        border-radius: 25;
        margin: 0 50px;
        /* TODO */
        width: auto;
        padding: 12px;
        background: grey;
        border-radius: 8px;
        flex: none;
        align-self: center;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        border: none;
        border-style: none;
        cursor: pointer;
        outline: inherit;
    }

    .ActiveOption:hover {
        background-color: grey;
        padding: 5px;
    }
  

    .OptionB {
   
        text-decoration: none;
        border-radius: 25;
        margin: 0 50px;
        /* TODO */
        width: auto;
        padding: 10px;
        background: black;
        border-radius: 6px;
        flex: none;
        align-self: center;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        border: none;
        border-style: none;
        cursor: pointer;
        outline: inherit;
    }

    .ActiveOptionB {
        
        text-decoration: none;
        border-radius: 25;
        margin: 0 50px;
        /* TODO */
        width: auto;
        padding: 12px;
        background: black;
        border-radius: 8px;
        flex: none;
        align-self: center;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        border: none;
        border-style: none;
        cursor: pointer;
        outline: inherit;
    }

.titulox{
    color:white;
    text-shadow: 
    3px 3px 1px black,
    5px 5px 2px black,
    8px 8px 3px white;
    ;
}
